<div class="row">
	<div class="col-lg-12">
		<h1 class="page-header">Historia paczki {{historyPackageController.chosePackage.name}}</h1>
	</div>
</div>
<div class="col-lg-6">
		<table class="table">
			<thead>
				<tr>
					<th>Data zmiany</th>
					<th>Oddzia&#322;</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="history in historyPackageController.chosePackage.history">
					<td>{{history.date | date:'yyyy-MM-dd'}}</td>
					<td>{{history.oddzial.street}} {{history.oddzial.flatNumber}} {{history.oddzial.postCode}} {{history.oddzial.city}}</td>
				</tr>
			</tbody>
		</table>
		<input type="button" class="btn btn-primary" value="Powr&#243;t" ng-click="historyPackageController.back()" />
</div>